.InputWrapper {
    text-align: center;
    margin: auto;
    max-width: 300px;
    position: relative;
}


.UserInput {
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: 'Open-Sans';
}
